In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame, read_csv

In [5]:
d={'one': pd.Series([1. , 2. , 3. , 4.0] , index=['a','b','c','d']),
   'two' : pd.Series([1. , 2. , 3. , 4.] , index=['a','b','c','d'])}
df=pd.DataFrame(d)
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  4.0  4.0

In [7]:
df.shape

(4, 2)

In [9]:
df.dtypes

one    float64
two    float64
dtype: object

In [11]:
dates=pd.date_range('20130101',periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [13]:
df2=pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
df2.head()

                   A         B         C         D
2013-01-01  0.545810 -1.358935  0.665637 -0.531880
2013-01-02 -0.493702  0.502875  2.470311 -0.795070
2013-01-03 -1.232942  0.040592  0.714821  1.276955
2013-01-04  1.631053 -0.158811  2.272881 -1.368839
2013-01-05  0.600243 -0.397325 -0.897658 -1.315924

In [15]:
df2.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [17]:
names=['bob','jessica','mary','john','mel']
births=[968,155,77,578,973]
BabyDataSet=list(zip(names,births))
BabyDataSet

[('bob', 968), ('jessica', 155), ('mary', 77), ('john', 578), ('mel', 973)]